@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-primary: #ED1B24;
  --color-primaryDark: #D51820;
  --color-secondary: #2D2D2D;
  --color-base: #000000;
  --color-background: #FFFFFF;
  --color-secondaryBackground: #FAF9F2;
}

svg {
  display: inline-block;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge */
}